/* - - -                              Fonts            */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


html {
  scroll-behavior: smooth
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #12151F;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


h1 {
  color: #5b84c4;
  font-size: 60px;
  font-weight: 900;  
}

h2 {
  color: #f5f5f5;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  background-color: #12151F;
  padding-top: 1rem!important;
  padding-bottom: 1.5rem; 
}

h3 {
  padding: 1rem 0;
  color: #f5f5f5;
  font-weight: 800; 
  font-size: 42px;
  margin-bottom: 3rem;
  margin-top: 2rem;
 }

p {
  line-height: 2rem;
  font-size: 18px;
  text-align: center; 
  color: #f5f5f5;
}


/* - - -                              Navigation          */


nav {

  position: relative;
  top: 0;
  display: flex;    
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #12151F;
   
}

.logo {
  
  text-transform: uppercase;
  letter-spacing: 3px;
  
}

.logo a {
  color: #5b84c4;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 900;
}

.logo span {
  color: #f8e8e8;
}

.nav-links {
  display: flex;
  justify-content: space-around;  
  width: 50%;
  padding-top: 1rem;
}

.nav-links li {
  list-style: none;
}

.nav-links li a:hover {
  color: #5b84c4;
}

.nav-links a {
  color: #f8e8e8;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 17px;
}

.burger {
  display: none;
  cursor: pointer; 
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f8e8e8;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {   
  .nav-links {

      width: 60%;
  }
}

@media screen and (max-width: 768px) {

    html {
    scroll-behavior: smooth;
  }

   html, body {
    overflow-x: hidden;   
  }
  
 

.nav-links {
      position: absolute;
      right: 0px;  
      height: 50vh; 
      padding: 0;
      top: 7vh;
      background-color: #12151F;
      display: flex;
      flex-direction: column;
      align-items: center; 
      width: 46%;  
      transform: translate(100%); 
      transition: transform 0.5s ease-in;
      z-index: 1;
      
}

.nav-links li {   
  opacity: 0;
  overflow: hidden;  
       
  }

  .nav-links li a {
    font-size: 16px;
    font-weight: 500;
    
  }

  .burger {
      display: block;
  }
  

}

  .nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }

  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1 {
  
  transform: rotate(-45deg) translate(-5px,6px);
  
}

.toggle .line2 {
  
  opacity: 0;
  
}

.toggle .line3 {
  
  transform: rotate(45deg) translate(-5px,-6px);
}



/* - - -                              Jumbotron           */


.jumbotron {
    margin: 0;
    color: #f8e8e8;
    background-image: url('../img/background.jpg');
    background-position: center;
    min-height: 100vh;
    text-align: center;
    
  }

  .jumbotron span {
    font-family: 'Montserrat', sans-serif;
    color: #5b84c4;
  }

  .jumbotron h1 {
    color: #f8e8e8;
  
  }

  .lead-text {
    margin-top: 8rem;
  }

  .lead-text h1 {
    font-weight: 900;
    margin-bottom: 2.5rem;
  }

  .lead-text p {
    color: #5b84c4;
    font-weight: 700;
    background-color: #12151F;
    font-size: 20px;
  }


  .fade-in {
   
      animation: fadeIn ease 2s;
      -webkit-animation: fadeIn ease 2s;
      -moz-animation: fadeIn ease 2s;
      -o-animation: fadeIn ease 2s;
      -ms-animation: fadeIn ease 2s;
  }
      @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }
      
      @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }
      
      @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }
      
      @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }


        @media screen and (max-width: 768px) {
  
      .lead-text {
        margin-top: 5rem;
      }
      .lead-text h1 {
        font-size: 53px;
      }
       .lead-text p {
        font-weight: 600;
      }
}

 
/* - - -                              About Us    */


.about-container {
  background-color: #12151F;
}


.testimonial {
  margin-top: 3rem;
  padding: .5rem 4.5rem;
}

.about-text p {
  font-size: 20px;
  font-weight: 500;  
}

.about-container img {
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  
  .about-container {
    padding-bottom: 0!important; 
  }
  .about-container img {
    margin-top: 0;
    width: auto;
    height: 340px!important;
  }

  .testimonial {
    padding: 0!important;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
  }
}



/* - - -                              Services            */

.services-container {
  padding-bottom: 0!important;
  background: #12151F;
  margin-bottom: 3rem;
  
}

.services-container 
.service-1,
.service-2, 
.service-3 {
  background-color: #5b84c4;
  
}
.services-container p {
  font-weight: 400;
  font-size: 20px;
}


.services-container .service-3 {
  padding-bottom: 3rem;
}


.services-container .webd-img, .dc-img, .dm-img {
  padding: 2rem 0;   
}

.services-container .webd-img {
  margin-top: 1rem;
}

.highlight {
  background: url('../img/brush-stroke.png');
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
  }

  @media screen and (max-width: 768px) {
    .services-container img {
      width: auto;
      height: 400px!important;
    }
  }


/* - - -                              Pricing     */


.pricing-section {
  background: #5b84c4;
  margin-bottom: 1px; 
}

.pricing-section h2 {
  margin-bottom: 1rem;
}

.pricing-section h3 {
  background-color: #fff;
}

.pricing-section .card {
  margin-top: .5rem;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(24, 24, 24, 0.1);
}

.pricing-section hr {
  margin: 1rem 0;
}

.pricing-section .card-title {
  margin: 0.5rem 0;
  font-size: .9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing-section .card-price {
  font-size: 2rem;
  margin: 0;
}

.pricing-section .card-price .period {
  font-size: 1rem;
}

.pricing-section ul li {
  margin-bottom: .8rem;
}

.pricing-section .btn {
  font-size: 70%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  background-color: #5b84c4;
}

/*                                   Hover Effects on Card */

@media (min-width: 992px) {
  .pricing-section .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing-section .card:hover .btn {
    opacity: 1;
  }
}


/* - - -                              Contact Page       */


.contact-container {

  padding: 70px 0px 5px;
  background-color: #12151F;
   
}

.contact-container h2 {
  
  margin-left: 3rem;
  padding-bottom: 14px;  
  
}

/* - - -                              Contact Form       */

.contact-form {
  margin-left: 10px;
}


.form-horizontal .form-group {
  padding: 3px;
}

.custom-form {

  padding-left: 16px;
  padding-right: 22px;
  margin-bottom: 16px;
}


/* - - -                            Contact Map         */

.map-container {

  overflow:hidden;
  padding-bottom: 43rem;
  position:relative;
  height: 0;

}


.map-container iframe{

  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  padding-right: 1.5rem;

}

@media screen and (max-width: 768px) {

  .map-container iframe {
    padding-left: 1.5rem;
  }

}


/* - - -                              Footer      */
 
  
footer {

  background-color: #12151F;
  padding: 2rem 0;
} 
footer a,
.socket a {
  color: #fff;
  text-decoration: none;  
}
  
footer p {
  margin: 0;
  color: #5b84c4;
}

footer p span {
  text-transform: uppercase;
  font-weight: 900;
}

ul.social {
  margin: 0 auto;
  padding-bottom: 1.5rem;
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  padding-left: 0; 
}

ul.social li {
  margin: 0 auto;
    
}

footer li a:hover {
  color: #5b84c4;
}

footer .svg-inline--fa {
  font-size: 2.3rem;
}
